services:
  gateway:
    env_file:
      debug.env
    environment:
      DEBUG_MODE: 1
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile.debug
    volumes:
      - .:/apps
    command: !override >
      uvicorn apps.gateway.main:app
      --host 0.0.0.0
      --port 8000
      --reload
      --reload-dir /app
      --reload-include *.py
      --reload-exclude "alembic/versions/*,__pycache__/*,.git/*"
    labels:  !override
      logging: "promtail"
      logging_jobname: "containerlogs"
      traefik.enable: "true"
      traefik.http.routers.gateway.rule: "PathPrefix(`/api`)"
      traefik.http.routers.gateway.entrypoints: "web"
      traefik.http.services.gateway.loadbalancer.server.port: "8000"


  admin:
    env_file:
      - debug.env
    labels :  !override
      logging: "promtail"
      logging_jobname: "containerlogs"
      traefik.enable: "true"
      traefik.http.routers.admin.rule: "PathPrefix(`/`)"
      traefik.http.routers.admin.entrypoints: "web"
      traefik.http.services.admin.loadbalancer.server.port: "80"

  traefik:
    env_file:
      - debug.env
    command: !override
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --api.dashboard=true
      - --api.insecure=true
    ports:  !override
      - "80:80"
      - "8080:8080"

  postgres:
    ports:
      - "6666:5432"
    env_file:
      - debug.env

  redis:
    ports:
      - "6667:6379"

  redis_insight:
    ports:
      - "5540:5540"

  migrations:
    env_file:
      - debug.env

