x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "1m"
    max-file: "1"
    tag: "{{.Name}}"


services:
  gateway:
    container_name: pandora_gateway
    env_file:
      .env
    ports:
      - "8000:8000"
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile
    restart: on-failure
    networks:
      - pandora-network
    depends_on:
      migrations:
        condition: service_completed_successfully
    logging: *default-logging
    volumes:
      - .:/apps
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
      traefik.enable: "true"
      traefik.http.routers.gateway.rule: "PathPrefix(`/api`)"
      traefik.http.routers.gateway.entrypoints: "websecure"
      traefik.http.routers.gateway.tls: "true"
      traefik.http.routers.gateway.tls.certresolver: "letsencrypt"
      traefik.http.services.gateway.loadbalancer.server.port: "8000"

  admin:
    container_name: pandora_admin
    build:
      context: ./apps/admin-ui
      dockerfile: Dockerfile
    ports:
      - "3000:80"   # http://server:3000 -> nginx внутри admin-контейнера
    restart: on-failure
    networks:
      - pandora-network
    logging: *default-logging
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
      traefik.enable: "true"
      traefik.http.routers.admin.rule: "PathPrefix(`/`)"
      traefik.http.routers.admin.entrypoints: "websecure"
      traefik.http.routers.admin.tls: "true"
      traefik.http.routers.admin.tls.certresolver: "letsencrypt"
      traefik.http.services.admin.loadbalancer.server.port: "80"

  redis:
    container_name: pandora_redis
    image: redis:8.2
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - pandora-network

    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  redis_insight:
    image: redis/redisinsight:latest
    container_name: pandora_redisinsight
    restart: unless-stopped
    ports:
      - "5540:5540"
    depends_on:
      - redis
    networks:
      - pandora-network

  migrations:
    container_name: pandora_migrations
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./apps/common/infrastructure/database/migrations:/app/apps/common/infrastructure/database/migrations
    env_file:
      - .env
    command: ["uv", "run", "alembic", "-c", "alembic.ini", "upgrade", "head"]
    networks:
      - pandora-network

  postgres:
    container_name: pandora_postgres
    image: postgres:18.0
    command: postgres -c config_file=/etc/postgres.conf
    volumes:
      - postgres_data:/var/lib/postgres/data/
      - ./postgres/postgresql.conf:/etc/postgres.conf
    env_file:
      - .env
    ports:
      - "6666:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U agafonov -d pandora" ]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always
    networks:
      - pandora-network

  traefik:
    image: traefik:v3.1
    container_name: traefik
    env_file:
      - .env
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false

      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443

      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https

      - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.letsencrypt.acme.email=${TRAEFIK_ACME_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json

      - --api.dashboard=true
      - --api.insecure=true
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_letsencrypt:/letsencrypt
    networks:
      - pandora-network
    restart: always


volumes:
  postgres_data:
  kafka_data:
  redis_data:
  zookeeper_data:
  zookeeper_log:
  traefik_letsencrypt:

networks:
  pandora-network:
    external: true
    name: app
