x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "1m"
    max-file: "1"
    tag: "{{.Name}}"


services:
  gateway:
    container_name: pandora_client-gateway
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    env_file:
      .env
    environment:
      DEBUG_MODE: 1
    ports:
      - "8000:8000"
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile.dev
    restart: on-failure
    networks:
      - log_app
    depends_on:
      migrations:
        condition: service_completed_successfully
    logging: *default-logging
    volumes:
        - ./apps:/app/apps
        - /app/__pycache__
        - /app/.venv
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: >
      uvicorn apps.gateway.main:app
      --host 0.0.0.0
      --port 8000
      --reload
      --reload-dir /app
      --reload-include *.py
      --reload-exclude "alembic/versions/*,__pycache__/*,.git/*"

networks:
  log_app:
    external: true
    name: app
